<!DOCTYPE html>
<html>

<head>
  <title>
    {{#if title}} {{title}} {{else}} μBay {{/if}}
  </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src='/javascripts/index.js' type='text/javascript'></script>
  {{{_sections.head}}}
</head>

<body>
  <div id="navigation">
     {{#if user}} {{> navigationlogged}} {{else}} {{> navigation}} {{/if}}
  </div>
  <div id="content">
    {{#if success_msg}}
    <div id="success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
    <div id="alert">{{error_msg}}</div>
    {{/if}}

    {{{body}}}
    
    {{#if error}}
    <div id="alert">{{error}}</div>
    {{/if}}
  </div>
  <footer>
    {{{_sections.footer}}}
  </footer>
</body>

</html>